:root {
  --primary-blue: #003153;
  --primary-red: #F00020;
  --dark-color: black;
  --light-blue: rgba(111, 143, 175, 1);
  --primary-gray: #F0F0F0;

  --section-padding: 100px 0;
  --hero-padding: 200px 0;
}

html {
  background: var(--primary-gray);
}

* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

/* Sections */
section {
  padding: var(--section-padding);
}

.section-title {
  display: inline-block;
  font-size: 2rem;
}
/*
.section-title::before {
  content: '';
  padding: 2px;
  width: 50px;
  background: var(--primary-red);
  border-radius: 10px;
}
*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 5px;
}

/* Cards */

.card {
  background: white;
  box-shadow: 3px 3px 15px rgba(128, 128, 128, 0.1);
}

.card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.card-body {
  padding: 15px;
}

/* Buttons */
.cta-btn {
  display: inline-block;
  padding: 0.8rem 2rem;
  background-color: var(--primary-red);
  margin-top: 15px;
  text-decoration: none;
  font-weight: 600;
  color: white;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  box-shadow: 1px 2px 5px gray;
  border-radius: 5px;
}

.cta-btn:hover {
  transform: translateY(-2px);
  background: rgb( from var(--primary-red) r g b /0.8);
  border: 2px solid (--primary-red);
  
}

/* Effects & Animations */
.reveal-up {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s ease, transform 1s ease;
}

.reveal-right {
  opacity: 0;
  transform: translateX(-100%);
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0) translateX(0);
}

.title-container {
  overflow-x: hidden;
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}
.reveal-grow {
  background: var(--primary-red);
  padding: 0 2px;
  border-radius: 5px;
  margin-right: 5px;
  transition: padding 1.5s ease;
}

.reveal-right {
  transform: translateX(-90%);
  transition: transform 1s ease;
}

.reveal-grow.visible {
  padding: 25px 2px;
}

@media (max-width: 768px) {
 :root {
    --section-padding: 60px 0;
    --hero-padding: 150px 0;
  }

  .title-container {
    margin-bottom: 60px;
  }
}

